*{
    margin: 0;
}

.maqueta-completa{
    display: flex;
    background-color: gray;
    width: 100vw;
    height: 100vh;
}

.chat{
    background-color: rgb(23, 88, 88);
    width: 30%;
}

.img-nombre-estado{
    display: flex;
    padding: 5px;
}

.img-perfil{
    border-radius: 100%;
    width: 20%;
    justify-content: center;
    padding: 10px;
}

.profile-data{
    padding-top: 10px;
}

.networking{
    background-color: green;
    width: 70%;
}