*{
    margin: 0;
}

.maqueta-completa{
    display: flex;
    background-color: gray;
    width: 100vw;
    height: 100vh;
}

.chat{
    background-color: rgb(23, 88, 88);
    width: 30vw;
    height: 100vh;
}

.img-nombre-estado{
    display: flex;
    padding-top: 1vh;
    padding-left: 2vw;
}

.img-perfil{
    border-radius: 100%;
    width: 15%;
    padding-top: 1vh;
}

.profile-data{
    padding-top: 3vh;
    padding-left: 1vw;
}

.msg-bars{
    padding-top: 3vh;
    padding-left: 12vw;
}

.networking{
    background-color: green;
    width: 70%;
}